.btn-close-modal-more-detail{
    position: absolute;
    right: 0;
    top: -30px;
    z-index: 99999;
}


.image-wrap {
    overflow: hidden;
    height: 220px;
    width: 100%;
    border-radius: 7px 7px 0 0;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
}


img.backdrop-image {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    filter: blur(10px) brightness(0.5);
    transform: translate(2px, -16px) scale(1.2);
}

.image-wrap ~ img {
    width: 100% ;
}

.modal-more-detail-title {
    font-weight: 700;
}

.modal-more-detail-subtitle {
    font-size: 14px;
    font-weight: 300;
    /* margin-top: -3rem; */
    margin-bottom: 2rem;
}

.modal-more-detail-select {
width: 120px;
font-size: 0.8rem;
margin-left: auto;
margin-right: 5px;
border: 1px solid;
}

.modal-more-detail-comments-title{
    font-weight: 300 !important;
}

.modal-more-detail-comments {
    font-weight: 600 !important;
    margin-bottom: 8px !important;
    display: block !important;
}