.card-item {
    cursor: pointer;
    border: 1px solid #bebebe;
    border-radius: 5px;
    max-width: 160px;
    min-width: 140px;
    margin: auto;
    margin-top: 30px;
    padding: 0;
    max-height: 188px;
    overflow: hidden;
}

.btns-action {
    transform: translateY(12px);
}

.card-item .btn-remover {
    display: none;
}

.card-item .categoria {
    display: none;
}

.card-item .position-relative {
    overflow: hidden;
    border-radius: 2px;
}

.card-item:hover {
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.card-item:hover .btns-action {
    display: block;
    position: absolute;
    background-color: #0000005e;
    width: 100%;
    border-radius: 0 0 2px 2px;
    bottom: 0;
    left: 0;
    padding: 8px 0;
    padding-left: 8px;
    transform: translateY(0px);
    transition: transform .25s ease-out;
}

.card-item:hover .btn-remover {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #dc3545;
    padding: 1px 4px;
    font-size: 10px;
    border-radius: 0px 2px 0 0;
    color: white;
}

.card-item:hover .btn-edit {
    position: absolute;
    right: 1px;
    top: -8px;
    font-size: 10px;
    padding: 1px 4px;
    color: white
}

.card-item:hover .categoria {
    display: block;
    position: absolute;
    z-index: 999;
    background-image: linear-gradient(174deg, #000000d6, #0000005c, #00000017, transparent);
    font-size: 8px;
    padding: 6px;
    color: white;
    width: 60px;
    text-align: left;
    filter: drop-shadow(2px 4px 6px black);
}

.card-item:hover h4 {
    margin-top: -14px;
    color: white;
    text-align: left;
    text-transform: uppercase;
    text-shadow: -3px 3px 3px #00000082;
    font-size: 13px;
}

.card-item:hover h6 {
    font-size: 8px;
    color: #c2c2c2;
    text-align: left;
    padding-top: 4px
}

.text-center {
    text-align: center!important;
}
.img-fluid {
    filter: blur(1px) contrast(0.5);
    overflow: hidden;
    transform: scale(1.1);
    height: 185px;
    width: 100%;
    object-fit: cover;
}
h6 {
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color,inherit);
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.h6, h6 {
        font-size: 1rem;
}

.mb-0 {
    margin-bottom: 0!important;
}
.text-sm {
    font-size: 10px;
    color: #8c8c8c;
}
.row-cols-2>* {
    flex: 0 0 auto;
    width: 50%;
}